<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haejihae">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="haejihae"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Haejihae">
        <activity
            android:name=".AlarmSetActivity"
            android:exported="false"
            android:theme="@style/DialogTheme"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".MainSubscribeDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />

        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CancelManualActivity" />


        <!-- 팝업 Activity -->
        <activity
            android:name=".Items_addActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>